<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398467169577-l2kmjsts9luf34j9jcdqvo57khatdap6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398467169577-l2kmjsts9luf34j9jcdqvo57khatdap6</string>
	<key>API_KEY</key>
	<string>AIzaSyBW9xRBJtQd3d5iHOUJaKKv3qqzpOdcOY0</string>
	<key>GCM_SENDER_ID</key>
	<string>398467169577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palo.deketin</string>
	<key>PROJECT_ID</key>
	<string>deketinapps</string>
	<key>STORAGE_BUCKET</key>
	<string>deketinapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398467169577:ios:b647b6054e88c1005c4b38</string>
</dict>
</plist>